@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --background: var(--color-neutral-100);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --background: var(--color-neutral-950);
    }
}

@theme {
    --font-serif: "Bodoni Moda", Georgia, Cambria, "Times New Roman", Times, serif;
    --font-sans:
        Helvetica, "Segoe UI", Arial, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Remove unused gray */
    --color-slate-*: initial;
    --color-gray-*: initial;
    --color-zinc-*: initial;
    --color-stone-*: initial;

    /* Remove all unused neutral shades */
    --color-neutral-50: initial;
    --color-neutral-200: initial;
    --color-neutral-400: initial;
    --color-neutral-500: initial;
    --color-neutral-600: initial;
    --color-neutral-700: initial;
    --color-neutral-900: initial;

    /* Used for theme metadata */
    --color-background: var(--background);

    /* Animations */
    --animate-fade-in-out: fade-in-out var(--tw-duration, 4s) var(--tw-ease, ease-in-out) forwards;

    @keyframes fade-in-out {
        0% {
            opacity: 0;
            scale: 0.95;
            filter: blur(1rem);
        }
        8% {
            scale: 1;
            filter: blur(0);
        }
        12% {
            opacity: 1;
        }
        80% {
            opacity: 1;
        }
        92% {
            filter: blur(0);
        }
        100% {
            opacity: 0;
            scale: 0.98;
            filter: blur(0.5rem);
        }
    }
}
